:root {
    --main-color: rgba(10,10,10, 0.6);
    --font-color: rgb(220,220,220);
    --main-font: 'Franklin Gothic Medium', sans-serif;
  }

body, html
{
    background: url("../images/nebula.png") no-repeat center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

    color: var(--font-color);  
    font-family: var(--main-font);  

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* #region ---------- Navbar ---------- */
nav
{
    /* font-family: --main-font; */
    background-color: var(--main-color); 
    width: 100%;
    height: 5%;

    position: absolute;
    top:0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.radio_btn
{
    opacity: 0;             /* Makes the radio button transparent */
    position: absolute;     /* Resets its position so it doesn't take extra space */ 
}

.radio_label                 /* radio button labels */
{
    padding: 20px;
    font-size: 1.5rem;
}
/* #endregion ---------- Navbar ---------- */

/* #region ---------- Hero ---------- */
.hero
{   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    height: 50%;
    /* background-color: var(--main-color); */

    display: flex;
    align-items: center;
    justify-content: center;
}


/* #endregion ---------- Hero ---------- */



/* #region ---------- Tabs content container ---------- */
.tab_content_container
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 70%;
    height: 70%;
}

.tab_content_container
{
    display: none;
    background-color: var(--main-color);

    /* color: var(--font-color); */

    border-radius: 30px;

    text-align: center;
    font-size: 2rem;

}

/*! Text in .tab_content goes out of bound when screensize is too small  */

/* #endregion ---------- tabs content container ---------- */


/*#region ---------- about me ---------- */
.aboutme_img
{   
    height: 100%;
    width: 30%;
    background-image: url("https://storage.googleapis.com/pai-images/dfdb2eb285be4aa6bb18d0d56be9eff1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 30px 0px 0px 30px;

    float: left;
}

.aboutme_text
{
    display: inline-block;
    width: 60%;
}
/* #endregion ---------- about me ----------*/

/*#region ---------- footer ---------- */
footer
{
    background-color: var(--main-color)); 
    /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(10,10,10,0.7));    */
    width: 100%;
    position: absolute;
    bottom: 0;

    text-align: center;
    font-style: italic;
    font-size: 12px;
    /* font-family: 'Franklin Gothic Medium', sans-serif; */

    padding-top: 15px;
    margin: 0px;
}

footer p
{
    color: var(--font-color);
    margin-top:10px;
}

footer a
{
    padding-right: 5px;
}

/*#endregion ---------- footer ---------- */
