:root {
    --main-color: rgba(10,10,10, 0.6);
    --font-color: rgb(220,220,220);
    --main-font: 'Franklin Gothic Medium', sans-serif;

    --palette_01: #be861d;
    --palette_02: #2ca395;
    --palette_03: #670d13;
  }

body, html
{
    background: url("../images/bg_img.png") no-repeat center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

    color: var(--font-color);  
    font-family: var(--main-font);  

    /* display: flex;
    align-items: center;
    justify-content: center; */

    font-size: 0.8rem;
}

h1
{
    font-size: 3rem;
}

/* #region ---------- Navbar ---------- */
nav
{
    /* font-family: --main-font; */
    background-color: var(--main-color); 
    width: 100%;
    height: 5%;

    position: absolute;
    top:0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.radio_btn
{
    opacity: 0;             /* Makes the radio button transparent */
    position: absolute;     /* Resets its position so it doesn't take extra space */ 
}

.radio_label                 /* radio button labels */
{
    margin: 20px;
    font-size: 1.5rem;
}
/* #endregion ---------- Navbar ---------- */

/* #region ---------- Hero ---------- */
.hero
{   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    height: 50%;
    /* background-color: var(--main-color); */

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero p
{
    font-size: 2rem;
}


/* #endregion ---------- Hero ---------- */



/* #region ---------- Tabs content container ---------- */
.tab_content_container
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 70%;
    height: 70%;
}

.tab_content_container
{
    display: none;
    background-color: var(--main-color);

    /* color: var(--font-color); */

    border-radius: 30px;

    text-align: center;
    font-size: 2rem;

}

.tab_content_container h1
{
    font-size: 2rem;
    margin:0;
    padding: 15px 0px;
}

/*! Text in .tab_content goes out of bound when screensize is too small  */

/* #endregion ---------- tabs content container ---------- */

/* # ---------- References ---------- */
#references_container
{
    background-color: rgba(0,0,0,0);
}

#references_container h1
{
    background-color: var(--main-color);
    border-radius: 30px;

    width: 20vw;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 2vh;
}

.reference_boxes
{
    height: 60vh;
    width: 100%;

    display: inline-flex;

    /* background-color: var(--main-color); */
}

.reference_card
{
    background-color: rgba(10,10,10, 0.85);

    width: 30%;
    height: 100%;

    border-radius: 30px;
    margin: 1.5%;
}
 .reference_card_img
{
    background-image: url("../images/reference_placeholder.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 45%;
    border-radius: 30px;
    margin: 10px;

    /* border: 3px solid red; */

}

.reference_card_text
{   
    width: 100%;
    padding-top: 15px;

    border-radius: 30px;
} 

.reference_card_text p
{
    font-size: 1.5rem;
    text-align: justify;
    padding: 0 15px 15px 15px;
}


/* #endregion ---------- References ---------- */


/*#region ---------- About me ---------- */
.aboutme_img
{   
    height: 100%;
    width: 30%;
    background-image: url("https://storage.googleapis.com/pai-images/dfdb2eb285be4aa6bb18d0d56be9eff1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 30px 0px 0px 30px;

    float: left;
}

.aboutme_text
{
    display: inline-block;
    width: 60%;
}
/* #endregion ---------- About me ----------*/

/*#region ---------- Contact me ---------- */

#contactme_container
{
    width: 40%;
    height: 75%;
}

.contactme_form
{
    /* background-color: var(--main-color); */
    height: 100%;
    width: 100%;

    display: inline-block;
}

.contactme_form form
{
    height: 90%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.contactme_form label
{
    font-size: 1.2rem;
    margin: 10px 0px;
}

.contactme_form input, .contactme_form #form_message
{   
    width: 70%;

    background-color: rgb(10,10,10);
    color: var(--font-color);

    line-height: 2rem;
    border-radius: 15px;
    border: none;

    padding: 5px;
    padding-left: 10px;

    font-family: var(--main-font);
}


.contactme_form #form_message
{   
    height: 70%;
    resize: none;   
}

.contactme_form #form_submit
{
    background-color: var(--palette_01);

    width: 30%;
    height: 10%;
    margin: 30px;

    font-weight: bold;
}

/*#endregion ---------- Contact me ---------- */

/*#region ---------- Skills ---------- */

#skills_container
{
    background-color: rgba(0,0,0,0);
    width: 70%;
}

.skills_card_container
{   
    height: 90%;
    width: 100%;
    /* border: 3px solid var(--palette_01); */

    display: grid;
    grid-template-columns: 0.475fr 0.05fr 0.475fr;
    grid-template-rows: 0.475fr 0.05fr 0.475fr;
}

#skills_container .skills_card
{
    background-color: var(--main-color);
    border-radius: 30px;    
}

#skills_programming
{
    grid-column-start: 0;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 5;
}

#skills_lang
{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;
}

#skills_extra
{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
}


/*#endregion ---------- Skills ---------- */

/* #region ---------- Portfolio ----------*/

#portfolio_container
{
    background-color: rgba(0,0,0,0);
}

#portfolio_container h1
{
    background-color: var(--main-color);
    border-radius: 30px;

    width: 20vw;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 2vh;
}

.github_boxes
{
    height: 60vh;
    width: 100%;

    display: inline-flex;

    /* background-color: var(--main-color); */
}

.github_card
{
    background-color: rgba(10,10,10, 0.85);

    width: 30%;
    height: 100%;

    border-radius: 30px;

    margin: 1.5%;

}
 .github_card_img
{
    background-image: url("../images/GitHub.png");
    background-size: contain;
    width: 100%;
    height: 45%;
    border-radius: 30px;
}

.github_card_text
{   
    width: 100%;
    padding-top: 15px;

    border-radius: 30px;
} 

.github_card_text p
{
    font-size: 1.5rem;
    text-align: justify;
    padding: 0 15px 15px 15px;
}


/* #endregion ---------- Portfolio ----------*/


/*#region ---------- footer ---------- */
footer
{
    background-color: var(--main-color); 
    /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(10,10,10,0.7));    */
    width: 100%;
    position: absolute;
    bottom: 0;

    text-align: center;
    font-style: italic;
    font-size: 10px;
    /* font-family: 'Franklin Gothic Medium', sans-serif; */

    
    margin: 0px;
    padding-top: 10px;
}

footer p
{
    color: var(--font-color);
}

footer a
{
    padding-right: 10px;
}

/*#endregion ---------- footer ---------- */
