
/*#region ---------- Tablet Responsiveness ---------- */

@media (min-width: 600px) and (max-width: 1024px)   /* Tablet */ 
{  

/* Navbar, hero */
.hero
{
    display: none;
}

nav
{
    width: 100%;
    height: 95%;
    background-color: rgba(10,10,10, 0.5);

    position: relative;
    flex-direction: column;
    font-size: 2.5rem;
}

#dl_cv
{
    display: none;
    position: absolute;
    margin: 0;
}

#dl_cv_mobile
{
    top:0;
}

#dl_cv_mobile, #home_btn_mobile
{
    width: 100%;
    height: 5%;
    color: var(--palette_01_lighter);
    display: block;
    text-align: center;

    text-decoration: none;

    margin: 0;
}

#home_btn_mobile
{   
    color: var(--font-color);  
    position: absolute;
    top: 0;

    height: 15%;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 10px;
    font-style: italic;
    font-size: 4rem;
    line-height: 2rem;

}

#home_btn_mobile p:last-child
{
    font-size: 3rem;
}


.radio_container
{   
    width: 100%;
    height: 60%;
    max-height: 60%;

    display: flex;
    flex-direction: column-reverse;

    align-content: center;
    justify-content: center;
}

.radio_label
{
    margin: 5% 0;
}


/* Footer */
footer
{   
    height: 8%;

    padding-top: 2%;

    /* display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center; */

    overflow: hidden;
    margin: 0;

}

footer img
{
    height: 45px;
}

footer p
{
    font-size: 1.5rem;
}

.tab_content_container h1
{
    font-size: 3rem;
}

/* Contact me */
#contactme_container
{
    height: 65%;
    width: 80%;

    margin: auto;
}

#contactme_container label
{
    font-size: 2rem;
    margin: 20px 0px;
}

#contactme_container input
{
    line-height: 3rem;
}

#form_submit
{
    font-size: 2rem;
}

/* About me */
#aboutme_container
{
    height: 65%;
    width: 80%;
}

.aboutme_img
{
    width: 100%;
    height: 40%;
}

.aboutme_text
{
    width: 100%;
    height: 45%;
}

.aboutme_text h1
{   
    width: 100%;
    background-color: rgb(5,5,5);

    font-size: 1.5rem;
}

.aboutme_text p
{
    font-size: 1.5rem;
    line-height: 2.5rem;

    text-align: left;
}

/* Portfolio */
#portfolio_container
{
    height: 65%;
    width: 80%;

    overflow: hidden;
    overflow-y: scroll;
}

.github_box
{
    flex-flow: column;

    overflow-x: hidden;
}

.github_card
{
    height: 30%;
    width: 100%;

    overflow-y: scroll;
}

.github_card_img
{
    float: left;

    width: 40%;
    height: 100%;

    position: sticky;
    top:0;
}

.github_card_text
{
    width: 60%;
    height: 100%;
    float: right;

    font-size: 2rem;
    padding-top: 10px;
}


.github_card_text p
{
    font-size: 1.5rem;
    line-height: 2.5rem;

    overflow-y: scroll;
}


/* Skills */
#skills_container
{
    height: 65%;
    width: 80%;

    overflow: hidden;
}

.skills_card_container h1
{
    font-size: 2.5rem;
}

figcaption
{
    font-size: 1.8rem;
    padding: 5px;
}

.skills_card_container
{
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    scrollbar-width: none;
}

#skills_container .skills_card
{   
    height: auto; 
}

#skills_lang div, #skills_extra div
{   
    height: auto;
    width: 100%;

    margin: auto;
}

#proglang_list
{
    padding: 10px;
}

#skills_container .skills_card
{
    margin: 2% 0;
}


/* References */
#references_container
{
    height: 65%;
    width: 80%;
    max-height: 80%;

    position: absolute;
    overflow: hidden;

    margin: auto;

}


}

/*#endregion ---------- Tablet Responsiveness ---------- */
