<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
<style>
body {
    background-color: #002029;
        }
</style>

</head>

<body>

    <h1 style="color: white; text-align: center; font-family: system-ui; background-color: #004052; border-radius: 30px; 
    width: 30%; margin-left:auto; margin-right: auto; margin-top: 40px; padding: 5px;">
        {{h1_text}}
    </h1>

    {% if extend_upper %}
        
        <div style="color: white; text-align: center; font-family: system-ui; margin-top: 40px; padding-left: 30%; padding-right:30%"> 
            <p style="text-align: center;  margin: 10px; padding: 20px; border-radius: 30px; background-color: #00303D;">{{extend_upper | safe }} </p>
        </div>

        {% endif %}



    <div style="color: white; text-align: center; font-family: system-ui; margin-top: 40px; padding-left: 30%; padding-right:30%">
        {% for i in data %}   
        <li style="text-align: left;  margin: 10px; padding: 20px; border-radius: 30px; background-color: #00303D;">{{i.title}}, {{i.author}}
        <p style="margin-inline: 15pt; ">Genre: {{i.genre}} </p>
        <p style="margin-inline: 15pt; text-align: justify;">Summary: {{i.summary}} <br><br>Year: {{i.year}} - Book ID: {{i.book_ID}}</p>
        </li>
        {% endfor %} 

        {% if extend_lower %}
    
        <div style="color: white; text-align: center; font-family: system-ui; margin-top: 40px; padding-left: 30%; padding-right:30%"> 
            <p style="text-align: center;  margin: 10px; padding: 20px; border-radius: 30px; background-color: #00303D;">{{extend_lower}} </p>
        </div>

        {% endif %}




</body>

</html>