body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.navbar
{
    top:0;
    width: 100%;

    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
}

.navbar li, .navbar a
{
    display: inline;
    text-decoration: none;
    color: white;
}


.main
{   
    width: 80%;
    height: auto;
    background-color: rgba(72, 153, 127, 0.281);

    margin: 0 auto;
    text-align: center;
}

.main h1
{
    text-align: center;
}

.main table
{
    margin: auto;
}

.main table td
{
    text-align: center;
    width: 25%;
}

.main form
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    text-align: left;

    margin: auto;

    width: 20%;
}

.main form label, .main form input
{
    margin: 5px;
}

.search_form
{   
    width: 100%;
    display: flex;
}

#search_btn
{
    width: 10%;
}

#pages_nav
{   
    display: flex;
    flex-direction: column;
}

.arrow_btn
{
    width: 50px;
}

.login_error
{
    color: rgb(150, 0, 0);
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

form > input[type="submit"]:nth-child(6)
{
    width: 30%;
    align-self: center;
}

#search_field
{
    width: 80%;
}

.footer
{   
    width: 100%;

    background-color: black;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;

    height: auto;
}
