/* Template --------------- */
.main {
	background: #3ca08f;
	background: linear-gradient(to left, #187061, #c4edf3);
	padding:100px 0px;
	position:relative;

	height: 75%;
    width: 100%;
}

.navbar
{
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    min-height: 50px;
    line-height: 50px;
    background: transparent;
    z-index: 1030;
    
}

.navbar li
{
    margin: 0 5px;
}

li > a
{
    
    
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    /* border: 1px solid transparent; */
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;

    
}

li > a:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #0d6efd;
    text-decoration-thickness: 3px;
}



.footer
{
    color:black;
    background-color: white;
}

.template_btn
{
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.template_btn:hover, 
.template_btn:focus
{
  background-color: #F082AC;
  text-decoration: none;
}





input#login_user, input#login_pw   /* pw, user log in fields */
{
    
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 1.5rem;
    color: rgb(247, 248, 248);
    height: 46px;
    appearance: none;
    transition: border 0.15s ease 0s;

}

input#login_user:focus, input#login_pw:focus
{
    outline: none;
    box-shadow: none;
    border-color: rgb(100, 153, 255);
}

