{% extends "base.html" %}

{% block content %}

<header>
    <h1>Person register</h1>
</header>

<form action="" method="post" class="search_form">
<label for="search_field"></label>

<input type="search" name="search_field" id="search_field" placeholder="Search..."
{% if s %}
value="{{s}}"
{% endif %}
/>
<input type="submit" value="&#128269;" id="search_btn"/>
</form>


<table>
    <thead>
        <td>Image</td>
        <td>Name</td>
        <td>Age</td>
        <td>Tel.nr.</td>
        <td>Country</td>
    </thead>

    <tbody>


            {% for index in data %}
                <tr>
                    <td><a href="register/{{index.person_id}}"><img src="{{ index.img }}" alt="portrait" class="allpers_img"></a></td>
                    <td>{{index.name}}</td>
                    <td>{{ index.age }}</td>
                    <td>{{ index.phone_nr }}</td>
                    <td>{{ index.country }}</td>
                </tr>
            {% endfor %}

    </tbody>
</table>



{% if data %}  
{% if data.has_prev %}
<a href="{{url_for('all_person_page', s=s, page=page-1)}}">< Previous</a>
{% endif %}

<p>{{page}}</p>

{% if data.has_next %}
<a href="{{url_for('all_person_page', s=s, page=page+1)}}">Next ></a>
{% endif %}
{% endif %}

{% if search_data == [] %}
        <p>No results found.</p>        
{% endif %}


        


{% endblock %}