{% extends "base.html" %}

{% block content %}

<header>
    <h1>Person register</h1>
</header>

<form action="" method="post" class="search_form">
<label for="search_field"></label>
<input type="search" name="search_field" id="search_field"/>
<input type="submit" value="&#128269;"/>
</form>


<table>
    <thead>
        <td>Name</td>
        <td>Age</td>
        <td>Contact</td>
        <td>Country</td>
    </thead>

    <tbody>

        {% if searched == False %}
            {% for index in data %}
                <tr>
                    <td><a href="register/{{ index.personID }}">{{ index.name }}</a></td>
                    <td>{{ index.age }}</td>
                    <td>{{ index.phone_nr }}</td>
                    <td>{{ index.country }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        
        {% if searched == True %}
            {% for index in searched_data %}
                <tr>
                    <td><a href="register/{{ index.personID }}">{{ index.name }}</a></td>
                    <td>{{ index.age }}</td>
                    <td>{{ index.phone_nr }}</td>
                    <td>{{ index.country }}</td>
                </tr>
            {% endfor %}             
        {% endif %}
    </tbody>
</table>

{% if searched_data == [] %}
        <p>No results found.</p>        
{% endif %}


        


{% endblock %}