{% extends "base.html" %}

{% block content %}

<h1>Person register</h1>


<table>
    <thead>
        <td>Name</td>
        <td>Age</td>
        <td>Contact</td>
        <td>Country</td>
    </thead>
    <tbody>
        {# Jinja for loop
        {% for item in iterable %}
        <td><a href="/??">{{ name variable }}</a></td>
        {% endfor %} #}
        <td><a href="">Person</a></td>
        <td>35</td>
        <td>012 123 12 45</td>
        <td>Mars</td>
    </tbody>
</table>
    


{% endblock %}