{% from 'security/_macros.html' import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static//template.css">

    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{url_for('all_person_page')}}">Register</a></li>
            
            {# 
            {% if logged %} 
            <li><a href="{{url_for('my_page')}}" class="template_btn">My Page</a></li>
            {% else %}
            <li><a href="{{url_for('login_page')}}" class="template_btn">Login</a></li>
            {% endif %} 
             #}
        </ul>
    </div>

    <div class="main">
        {% block content %}{% endblock %}
    </div>

    <div class="footer"><p>Footer</p></div>

</body>
</html>